/* Base */

body {
  font-size: 16px;
  background-color: #dedede;

}
body, h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}
a,
a:hover {
  display: block;
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
strong {
  text-decoration: underline;
}

/* Layout */

.page {
  width: 99%;
  max-width: 1000px;
  /*width of pictures in banner*/
  margin: 0 auto;
}

/* Colors */

.bg-dark {
  background-color: #323232;
}
.bg-charcoal {
  background-color: #181818;
}
.active,
.hover-primary:hover {
  background: linear-gradient(to right top, #0b85a2, #0d98ba);
}
/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  border-radius: 5px 5px 0 0;
}
.brand-logo {
  display: inline-block;
  width: 3em;
}
.brand-text {
  font-family: 'Gloria Hallelujah', cursive;
}
.main-nav-list {
  margin: 0;
  margin-left: auto;
  list-style: none;
}
.main-nav-item {
  float: left;
}
.main-nav-link {
  padding: 15px 20px;
}
.main-nav-item:last-child:hover .main-nav-link {
  border-radius: 0 5px 0 0;
}
@media only screen and (max-width: 500px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .main-nav-list,
  .main-nav-item {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
/* Banner */

.banner {
  min-height: 300px;
  overflow: hidden;
}
.banner-carousel {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}
.banner-carousel-item {
  position: relative;
  display: none;
  position: absolute;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
}
.banner-carousel-item img {
  max-width: 100%;
}

@media only screen and (min-width: 500px) {
  .banner-carousel-item[data-item-number="1"] {
    bottom:0;
  }
  .banner-carousel-item[data-item-number="2"] {
    top: -15%;
  }
  .banner-carousel-item[data-item-number="3"] {
    bottom: -15%;
  }
}


/* Main */
main {
  margin-top: 0;
}
@media only screen and (min-width: 500px) {
  main {
    margin-top: 1em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 3em;
  }
}
@media only screen and (max-width: 768px) {
  .invert-1 {
    order: 2;
  }
  .invert-2 {
    order: 1;
  }
}
